\begin{frame}{Trame catalog}
    \centering
    \href{https://kitware.github.io/trame/guide/intro/trame-catalog.html}{\includegraphics[height=0.9\textheight]{assets/images/trame-widgets.png}}
\end{frame}

\begin{frame}{Trame catalog - Continuous Integration}
    \centering
    \includegraphics[width=\textwidth]{assets/images/catalog-ci}
    \pause
    \begin{columns}
    \begin{column}{0.5\textwidth}
    \includegraphics[height=0.4\textheight]{assets/images/graphql}
    \end{column}
    \begin{column}{0.5\textwidth}
    \includegraphics[height=0.5\textheight]{assets/images/external_repos}
    \end{column}
    \end{columns}
\end{frame}
