\begin{frame}{Disclaimer}
    Software development / Software engineering internship, no research

    Work accomplished will be presented through:
    \pause
    \begin{itemize}
        \item Development process
        \item Software architecture 
    \end{itemize}
\end{frame}