\documentclass[aspectratio=169]{slidesECLENSKitware}

\ttitle{ {{meta_infos["title"]}} }
\UE{ {{meta_infos["UE"]}} }
\ssubject{ {{meta_infos["subject"]}} }
\tutor{ {{meta_infos["tutor"]}} }
\student { {{meta_infos["student"]}} }

\begin{document}


\maketitleframe

\input{intro}

\section{Context}

\input{context}

\section{Work accomplished}

\input{work}

\begin{frame}[c]
  \centering
  {\fontsize{40}{48}\selectfont Thank you for listening}
\end{frame}

\end{document}