\documentclass[aspectratio=169]{slidesECLENSKitware}

\ttitle{ {{metadata["title"]}} }
\UE{ {{metadata["UE"]}} }
\ssubject{ {{metadata["subject"]}} }
\tutor{ {{metadata["tutor"]}} }
\student { {{metadata["student"]}} }

\begin{document}


\maketitleframe

\input{intro}

\section{Context}

\input{context}

\section{Work accomplished}

\input{work}

\begin{frame}[c]
  \centering
  {\fontsize{40}{48}\selectfont Thank you for listening}
\end{frame}

\end{document}