- First steps in learning development / Software Engineering
- Interesting collaborative workflow
- Learned many tools / frameworks

Quite some time on learning how to format code (Ruff as a linter) and make the
right code structure

Quite some time because the project was in development, a lot of maintenance tasks