Kitware EU:
- Software Solutions team
- Scientific Visualization team
- Computer Vision team

- Every week: A weekly meeting with all the team (Software Solution), RH stuff, 
- Every 2 weeks: Soso TechTip
- Every 2 weeks: SciVis TechMeet 
- Every month: trame dev meeting
- Every month: tech lunch
(
- Every month: monthly lunch
- Every week: breakfast
)

trame project:
- Owned by Sebastien Jourdain in KUS (less accessible)

trame-slicer project:
- Owned by Thibault Pelletier in KEU (easier to reach)

