The internship taught many tools and gave good practice for software engineering
and development, making it possible to contribute to real big software through
maintenance tasks. 

The agile methodology was used for the development of \citev{trame-radial-menu}
to deliver a real product that can be used afterward.

A Proof Of Concept of a web based DICOM viewer for mobile was developed to show
the capabilities of trame-slicer, develop tools and UI for mobiles for trame
along the way. 

Through the internship, many skills, tools, code practices were learned: Git
Conventional Commits specification \cite{conventional_commits}, Creational
Design Patterns \cite{design_patterns}, Web development (\citev{VueJS}, HTML,
CSS, Typescript), \citev{PyPI}, \citev{VitePress}, GitHub CLI \cite{gh-cli},
\citev{GraphQL}, \citev{Cookiecutter}, GitHub Actions \cite{github-actions},
\citev{Ruff}, \citev{Docker}, git \citev{precommit}, 3D Slicer \cite{Slicer},
and \citev{trame} of course.