This internship introduced me to a wide range of tools and reinforced strong
software engineering and development practices. It gave me the opportunity to
contribute to a framework with real-world applications. I particularly valued
learning how to navigate and contribute to a large-scale software project,
discuss features, collaborate with the team, and see that my code was not only
useful but also reusable. I quickly became comfortable within the contribution
environment, felt encouraged to ask questions, and was given the freedom to take
initiative.

A variety of tasks were completed during the internship, including documenting
learning resources for trame, performing trame maintenance, developing a trame
widget along with example applications, and creating a trame-based DICOM viewer
for mobile devices.

Throughout the internship, I gained hands-on experience with a broad range of
tools and best practices. This included version control workflows using Git and
the Conventional Commits specification \cite{conventional_commits}, as well as
Creational Design Patterns \cite{design_patterns} for software architecture. On
the frontend, I worked with \citev{VueJS}, HTML, CSS, and TypeScript, while also
using \citev{PyPI} for package management, \citev{VitePress} for documentation,
and GitHub CLI \cite{gh-cli} for repository management. Additionally, I
interacted with \citev{GraphQL} APIs, automated project setup with
\citev{Cookiecutter}, implemented CI/CD pipelines through GitHub Actions
\cite{github-actions}, and enforced code quality with \citev{Ruff}. I also
leveraged git \citev{precommit} hooks, explored 3D Slicer \cite{Slicer}, and, of
course, deepened my expertise with \citev{trame}.
