Frameworks for scientific and medical visualization are needed. VTK (Visual
Toolkit) \cite{vtk}, developed by Kitware, is a good base for developing such
frameworks.

For scientific visualization, ParaView \cite{paraview} is an open-source
application built on top of VTK. It is widely used by researchers and engineers
to visualize and analyze large scientific datasets. It provides many tools for
data processing and rendering and can scale to high-performance computing
environments.

For medical visualization, 3D Slicer \cite{slicer} is an open-source platform
dedicated to medical image visualization and analysis. It provides tools for
image segmentation, 3D reconstruction, registration, and quantitative analysis.
It is widely used in both medical research and clinical applications.

Web solutions also come into mind and, when today most people know Python, trame
\cite{trame} is a Python framework that makes it possible to easily create
custom applications with no background in compilation, C++ or web development. A
study conducted to understand researchers' habits \cite{researchers_habits}
confirms that Python is used by 67% of researchers
(\cref{fig:researchers_habits_python}).

\insertfigure {assets/images/researchers-python} {width=\textwidth} {from
\cite{researchers_habits}} {fig:researchers_habits_python}

Plus, researchers use open science a lot, with open-source software being widely
adopted, as shown in \cref{fig:researchers_habits_open_source}.

\insertfigure {assets/images/researchers-open-source} {height=0.3\textheight}
{from \cite{researchers_habits}} {fig:researchers_habits_open_source}

Trame fits well in this context as it is both open source and Python-only. This
internship is about development on trame, making it about contributing to an
growing open source project where I am not alone.

Not only this internship was about learning on collaborative environments, but
also on User Experience (UX)/ User Interface (UI), Continuous Integration (CI),
Python good practices, Git Conventional Commits specification
\cite{conventional_commits}, Creational Design Patterns
\cite{design_patterns}, Test Driven Development (TDD) and
documentation, learning about how to use tools/frameworks such as Git
\cite{git}, GitHub CLI \cite{gh-cli}, GraphQL \cite{graphql}, GitHub Actions
\cite{github-actions}, Ruff \cite{ruff}, Docker \cite{docker}, git precommit
\cite{precommit}, trame \cite{trame}, 3D Slicer \cite{slicer}, Web development
(Vue \cite{vuejs_tutorial}, HTML, CSS, Typescript), vitepress \cite{vitepress},
PyPI \cite{pypi}.

As trame is a project which is in development, I had to perform some maintenance
tasks