Trame \cite{trame} is a Python framework that makes it possible to create
reactive web applications with no web development knowledge needed. Trame and
trame-slicer's ecosystem, architecture, use cases, will be described in
\cref{sec:context}.

The internship has two main objectives.

One is to discover all the development of this framework which has 15 part time
developers. This includes the documentation, the maintenance, the design
choices, the ecosystem, the communication, and the support. These points will be
repetively discussed in this report.

The second objective is to take part in this development by actively
contributing, acquiring skills on all the tools, modules, practices that are
used in \citev{trame}, trame-slicer and their ecosystem's development.  These
are about Continuous Integration (CI) and Continuous Deployement (CD), the use
of new languages, the User Experience (UX) and User Interface (UI), the agile
methodology, Test Driven Development (TDD), the design patterns of huge
softwares. The specific learned skills/tools/practices are the following: Git
Conventional Commits specification \cite{conventional_commits}, Creational
Design Patterns \cite{design_patterns}, Web development (\citev{VueJS}, HTML,
CSS, Typescript), \citev{PyPI}, \citev{VitePress}, GitHub CLI \cite{gh-cli},
\citev{GraphQL}, \citev{Cookiecutter}, GitHub Actions \cite{github-actions},
\citev{Ruff}, \citev{Docker}, git \citev{precommit}, 3D Slicer \cite{Slicer},
and \citev{trame} of course.

The tasks that were assigned througout the internship fit in the following
parts: \begin{itemize} \item Feedback on the trame resources \item Maintenance
work \item Devlop a trame widget for an easy tool selection (Radial Menu) \item
Make trame-slicer mobile/tablet friendly \end{itemize}

All the tasks that were achieved fit in \cref{fig:timeline} where "Office" are
the working days, "Radial Menu" (resp. "Trame Slicer") contain all the days
where a meeting concerning it or a commit in the \citev{trame-radial-menu}
(resp.  \refrepo{trame-slicer}) repo was made, "Tech" stands for all the tech
presentations, and "Point" stands for all the days there was a follow up meeting
concerning the internship.

\insertfigure {assets/images/timeline} {width=\textwidth} {Timeline of all
meetings and contributions in repos} {fig:timeline}