trame \cite{trame} is a Python framework that makes it easy to create web
applications that are reactive. No web development knowledge is needed.

This internship aims at learning development around trame and trame-slicer. The
company had some needs that needed to be tackled:
\begin{itemize}
\item Feedback on the trame resources
\item Maintenance work
\item Make trame-slicer user friendly
\item Test trame widget creation (trame-cookiecutter)
\item Make trame-slicer mobile/tablet friendly
\end{itemize}

Throughout all these tasks, tools and concepts were learned, it will all be told
in this document.