\documentclass[]{rapportECLENSKitware}

\ttitle{ {{meta_infos["title"]}} }
\UE{ {{meta_infos["UE"]}} }
\subject{ {{meta_infos["subject"]}} }
\tutor{ {{meta_infos["tutor"]}} }
\student { {{meta_infos["student"]}} }

\bibliography{references}

\begin{document}

\makemargins
\makefirstpage

% \section{Acknowledgements}

% \input{acknowledgements}

% \section{Summary}

% \input{summary}

\section{Introduction}

\input{intro}

% \section{Working environment}

% \input{company}

\section{Scientific and Medical visualization frameworks}

\input{context}

\section{Work accomplished}

\input{work}

\section{Conclusion}

\input{conclusion}

\printbibliography

\appendix

% \section{Appendix: Internship and career}

% \input{career}

\section{Appendix: GitHub contributions}

\label{appendix:contributions}
\input{appendix-contributions}

\section{Appendix: Trame resources report}

\label{appendix:trame-resources-report}
\href{https://docs.google.com/document/d/1TlE1ikyfIfyFwrQm62qfioHveRUaNuVj4vcClPEzQxY}{Trame resources report (FR)}

\section{Appendix: State of the art pie-menu UI}

\label{appendix:sota-pie-menu}
\href{https://docs.google.com/document/d/1aWUaM4zkxbtRxJPUGnHRfZ_mDj0iRgA5o5DHVT1_KOQ}{State of the art pie-menu UI (FR)}

\section{Appendix: State of the art DICOM visualization on mobile/tablet}

\label{appendix:sota-dicom-mobile}
\href{https://docs.google.com/document/d/1nWVzYZX_56C-QZEnjkCFLmPnJrne10XQkQklyRFIRXI}{State of the art DICOM visualization on mobile/tablet}

\end{document}