During the internship, the first phase consisted of training on the trame
framework through various learning material and producing a report summarizing
them.

In parallel, maintenance tasks, including fixing trame examples, were assigned
to help familiarize with the CI, projects, and teams, while also providing
hands-on experience alongside the training.

Once sufficient knowledge of trame had been acquired, the design and full
development of a UI widget in the form of a radial menu was accomplished.

Finally, a complete mobile-oriented trame application is in development,
showcasing the adaptability and capabilities of both trame and trame-slicer.

\subsection{Trame Resources}

\input{works/trame-resources}

\subsection{Maintenance}

\label{sec:work-maintenance}
\input{works/maintenance}

\subsection{Trame Radial Menu}

\input{works/radial-menu}

\subsection{Mobile DICOM viewer}

\input{works/mobile-trame-slicer}
