During the internship, in a first phase, trainings were completed, on trame.

In parallel, maintenance tasks were given to familiarize with the CI, projects,
the teams, and apply the trainings.

Then the trame-radial-menu was asked

\subsection{Trame Resources}

\input{works/trame-resources}

\subsection{Maintenance}

\label{sec:work-maintenance}
\input{works/maintenance}

\subsection{Trame Radial Menu}

\input{works/radial-menu}

\subsection{Mobile DICOM viewer}

\input{works/mobile-trame-slicer}

