\begin{frame}{Trame maintenance}
\begin{itemize}
    \item Training on trame, Vue, Vuetify
    \item Training on GitHub, CI/CD, Python development
    \item Bug fixes
\end{itemize}
\pause
Specifically:
\begin{itemize}
    \item Review training (report on learning resources)
    \item Leverage tutorial and examples from Vue2 to Vue3 and use code best practice
    \item Fix bugs / update with modules' new APIs
    \item Make CI for an automatic trame widgets and applications list
    \item Fix trame-cookiecutter's CI, fix VTK's gestures
\end{itemize}
\end{frame}

\begin{frame}{Automatic trame widgets list}
\begin{columns}
    \begin{column}{0.3\textwidth}
        \vspace{-1cm}
        \begin{itemize}
            \item Need expressed 
            \item First POC shown to team, feedbacks
            \item Multiple reviews from tutor
            \item v2 shown
            \item v2 review process
        \end{itemize}
    \end{column}
    \begin{column}{0.7\textwidth}
        \href{https://ulyssedurand.github.io/trame/guide/intro/widgets.html}{\includegraphics[width=\textwidth]{assets/images/trame-widgets.png}}
    \end{column}
\end{columns}
\end{frame}
