\begin{frame}{Mobile app showcase trame-slicer (WIP)}

Doctor reviewing DICOMs sent to him and to be transmitted to a patient / on the go.

\begin{columns}

\begin{column}{0.5\textwidth}
\begin{itemize}
    \item Load and review patient volumes
    \item Place markups and annotations on specific slices
    \item Write reports related to patient health and disease tracking
\end{itemize}
\end{column}
\pause
\begin{column}{0.5\textwidth}
\href{http://localhost:8083/index.html}{\includegraphics[height=0.7\textheight]{assets/images/mobile-ui}}

\end{column}
\end{columns}
\end{frame}

\begin{frame}{Development steps}
\centering
\includegraphics[height=0.75\textheight]{assets/images/mobile-ishikawa}
\end{frame}
