The actual trame slicer's medical viewer app isn't adapted to mobile users as it
requires uploading DICOMs from a file, there are too many tools that are hard to
use with the phone and don't fit the phone usage which is more about viewing and
commenting than making segmentation.

To serve as a commercial demo of medical software capabilities and develop trame
tools related to phones on the way, a POC of a trame slicer mobile web app
needed development. To this end a member of the team served as a product owner
and describe the needs of a user persona (the typical user who would need this
app) as well as the first features of the POC.

\begin{itemize}
\item Load and review patient volumes
\item Place markups / annotations at specific slices
\item Write down reports on patient health / disease tracking
\end{itemize}

Along the way a speech to text button could be done and thus an "Audio recorder"
trame widget can be develop, more \refrepo{trame-rca} controls for phones can be
added (for pinch, two finger moves, etc...)