The current trame slicer's medical viewer app isn't adapted to mobile users as
it requires uploading DICOM files, and there are too many tools, which are hard
to use on a phone and don't fit typical phone usage taht is viewing and
commenting rather than performing segmentation.

To serve as a commercial demo of medical software capabilities and develop trame
tools related to phones on the way, a proof of concept of a trame-slicer mobile
web app needed to be developed. To this end a member of the team served as a
product owner and described the needs of a user persona (the typical user who
would need this app) as well as the first features of the proof of concept.

\begin{itemize}

\item Load and review patient volumes

\item Place markups / annotations at specific slices

\item Write down reports on patient health / disease tracking

\end{itemize}

Along the way a speech-to-text button could be devloped and thus an "Audio
recorder" trame widget can be develop, more \refrepo{trame-rca} controls for
phones can be added (for pinch, two-finger moves, etc.)