The development of the \citev{trame-radial-menu} more or less
followed the steps of the agile methodology \cite{agile}, with planning,
analysis, design, implementation, testing, deployment, and start over.

There were 3 people from the team being the product owners, a developer and a
code reviewer.

\subsubsection{Analysis}

What was asked in a first place was a "krita palette" for trame-slicer.

The krita palette has a big variety of features and shows as a radial buttons
around the mouse click \cref{fig:krita-palette}. It has a side menu to the right
for the brush options, and it makes it easy for the user to quickly switch
between different drawing tools. Trame slicer's medical viewer can benefit from
the same interface.

\insertfigure
    {assets/images/krita-palette}
    {height=0.3\textheight}
    {Krita palette \cite{Krita}}
    {fig:krita-palette}

Trame slicer's medical viewer almost has the same tools and right now these
tools are in a side menu as shown in \cref{fig:medical-viewer-ui}

\insertfigure
    {assets/images/medical-viewer-ui}
    {height=0.3\textheight}
    {Medical Viewer UI}
    {fig:medical-viewer-ui}

First step was to establish a state of the art \cref{appendix:sota-pie-menu}.

It was about whether some solution already exists, what are the features, design
choices, technologies used, licence.

Almost all the items of the start of the art had poor maintenance, some used a
framework that was too big or incompatible with trame-slicer, and none had the
Vue modularity and all the features that were needed.

No item of the state of the art fitted the expectations, it was decided to
develop our own radial menu, with design choices and technology choices inspired
from the items of the state of the art.

\subsubsection{Development}

Then was the phase of development of the radial menu in VueJS. A first POC
\cref{fig:first-poc-radial-menu} was shown to the product owners with its API
\cref{lst:first-poc}, their feedback refined the design, the API and the
features they wanted. 

In this first POC the API \cref{lst:first-poc} made it possible to put multiple
wheels, an outer RadWheel would be put as a child component of the inner
RadWheel. The major problem was that the kind of RadItem we can put was very
limited (only to text and checkboxes). The product owners want to be able to put
any HTML element.

\insertfigure
    {assets/images/poc-api-1}
    {width=\textwidth}
    {Components of the first POC's API of the radial menu}
    {fig:first-poc-classes}

The reviews on the look were that the double wheel was not ideal for
trame-slicer, an UX and UI closer to the krita palette, with a side menu for the
tools options was requested. This lead to a more refined version.

\insertfigure
    {assets/images/radial-menu-first-poc}
    {height=0.2\textheight}
    {Radial Menu first proof of concept in VueJS}
    {fig:first-poc-radial-menu}


\lstinputlisting[language=vue, caption={Radial Menu first proof of concept's
API}, label={lst:first-poc}, float,
basicstyle=\scriptsize]{assets/code/first-poc-radial-menu.vue}

Making a trame widget out of the VueJs components was quite fast as there
already exists a cookiecutter \cite{Cookiecutter} for trame, with an option to
make a trame widget from VueJS components.

Then there was a code review phase, correcting the style, the comments, the
functions used, with the Code Reviewer.

\subsubsection{Current API}

The current API is shown in a minimal example \cref{lst:minimal-api}, with its
components shown in \cref{fig:final-api-components}, it rendered as
\cref{fig:radial-menu-minimal}. Now any HTML element can go under a RadMenu
component.

\insertfigure
    {assets/images/final-api-1}
    {width=\textwidth}
    {Components of the final API of the radial menu}
    {fig:final-api-components}

\insertfigure
    {assets/images/radial-menu-minimal-example}
    {height=0.1\textheight}
    {Radial Menu minimal example rendered}
    {fig:radial-menu-minimal}

\lstinputlisting[language=python, caption={Radial Menu Minimal
example},label={lst:minimal-api}, float,
basicstyle=\scriptsize]{assets/code/trame-radial-menu-minimal.py}

Before publishing the widget, a documentation and a proper example were
necessary. To this end, a full example \cref{fig:radial-menu-full} showing all
the functionalities with all the parameters being tweakable in the UI was built.

\insertfigure
    {assets/images/radial-menu-full-example}
    {height=0.5\textheight}
    {Radial Menu full example}
    {fig:radial-menu-full}

\subsubsection{Maintenance process}

Finally when everything was ready, the project was put on a Kitware owned
repository and published to PyPI through a GitHub workflow
\cite{github-actions}.

Now when new features are asked, they are added to the issues, I make a PR which
is also reviewed by the Code Reviewer and then merged, like
\cref{pr:Kitware/trame-radial-menu/1}.

The project was published to PyPI so it is importable with pip install
trame-radial-menu, it was added to the trame widget list and announced in the
trame news with \cref{pr:Kitware/trame/895} and \cref{pr:Kitware/trame/897}.

\subsubsection{\refrepo{trame-slicer} medical viewer example}

As the use cases imagined for the radial menu were softwares like trame-slicer's
medical viewer, an integration of the \citev{trame-radial-menu} in this app was
expected.

The Medical Viewer gives  a good example of a complex app with complex UI and
Logic. This is what this section is about.

\Cref{fig:medical-viewer-classes} shows us a simplified view of the classes
used. These classes are singleton (see \cite{design_patterns}) which means
that only one object is of each class. An arrow between SegmentEditorUI and
MedicalViewUI means that the MedicalViewerUI instantiates and knows the
SegmentEditorUI. 

\insertfigure{assets/images/medical-viewer-1}{width=\textwidth}{Simplified
Medical Viewer's class diagram. These classes are singletons and arrows aren't
inheritance but mean "is known by"}{fig:medical-viewer-classes}

The UI part and the Logic part have two separate responsabilities, the UI
classes handle the interface with the user (through trame UI elements) and
stores the states of the UI (through typed states \cref{sec:typedstates}).  The
Logic part is connected to the UI parts' triggers (functions that the user can
trigger through the UI) and handles the interface with Slicer. If a user clicks
a button to change tool the \texttt{SegmentEditorUI.set\_active\_tool("Brush")}
is called, which calls a corresponding procedure in the SegmentEditorLogic which
will tell the Slicer instance to change tool.

In that manner, the whole UI is built like a tree just like HTML. These nodes
correspond to UI parts and have their own typed state (to know which
segmentation tool is selected for example). The exact same structure as the UI
is used for the logic part. Every logic object has a \texttt{set\_ui} property
that expects the corresponding UI as parameters. It registers the UI, connects
their functions (through Signals in the
\definerepo{https://github.com/KitwareMedical/py-undo-stack}{py-undo-stack}
repo) so that UI classes's triggers trigger the right functions in the Logic
class.

\subsubsection{Radial Menu in the Medical Viewer example}

Trame-slicer was forked in a personnal branch to integrate the Radial Menu in
the Medical Viewer, see \cref{repo:trame-slicer/radial-menu}.

Integrating the Radial Menu in the UI, adding buttons as RadItems and set the
side menu was quite straight forward. But the right menu opened on each right
click which this wasn't a desired behavious when the right click was bind to
other tasks like zooming or stop adding markups (annotations). Fixing this
required catching the right click event not from the Javascript but from the
Slicer instance itself. This required diving in the architecture of Slicer
itself, the part of the architecture which handles the right click is shown in
two different cases: when the user right clicks in the void of the scene
\cref{fig:slicer-architecture-void}, and when the user right clicks on a
specific node \cref{fig:slicer-architecture-node}.

\insertfigure{assets/images/slicer-architecture-1}{width=\textwidth}{Propagation
of a right click in the void of a view in 3D Slicer through 3D Slicer's
architecture}{fig:slicer-architecture-void}

In the first case the right click must be intercepted at the level of the
\texttt{vtkMRMLApplicationLogic} as before it there could still be some
processing to decide whether the click is valid or not, and after that we dive
into handling the \citev{Qt} elements interaction. In the second case the events
must be caught at the \texttt{vtkMRMLDisplayNode}

\insertfigure{assets/images/slicer-architecture-2}{width=\textwidth}{Propagation
of a right click on a node of a view in 3D Slicer through 3D Slicer's
architecture}{fig:slicer-architecture-node}

In the first case the right click now makes the tool radial menu open, and in
the second case the logic store the Slicer markup node and opens a context menu
(which is another radial menu with nothing except a side menu open) to have
actions depending on the markup node type. For example for Fiducial nodes
(annotation points in the scene), the delete, select and unselect options are
shown.

In the end \cref{fig:medical-viewer-w-radial-menu} shows the radial menu
integrated to trame-slicer, making it possible to easily select different markup
nodes or segmentation tools, change tools' parameters or interact with markup
noes on the views.

\insertfigure{assets/images/trame-slicer-w-radial-menu}{height=0.3\textheight}{Radial Menu integration into trame-slicer's Medical Viewer}{fig:medical-viewer-w-radial-menu}