Trame provides an official tutorial which, at the beginning of the internship,
was outdated. Although it remained functional, it did not reflect current best
practices (this issue was addressed later, see \cref{sec:work-maintenance}).
Starting with no prior knowledge of the framework provided a fresh perspective
on the learning curve and made it possible to evaluate which learning resources
were the most helpful and why.

After exploring the available Trame resources, a report comparing the different
learning materials (both free and paid) was written
(\cref{appendix:trame-resources-report}). The report presents the resources in
the order they were consulted, highlights recurring information across them, and
provides feedback on the effectiveness of each format (code examples, written
tutorials, and video-based training).
