Trame has an official tutorial which was outdated at the beginning of the
internship, it worked but didn't show the best practices (this was fixed in the
next section \cref{sec:work-maintenance}). Starting without knowing anything
about the framework made an opportunity to have a fresh point of view on the
learning curve, which learning resources helped the most and why. 

After navigating through the trame resources, a report that compared the
different resources (free and non free) was written
\cref{appendix:trame-resources-report}. After describing all the resources in
the order they were read, the repeated information and a feedback on the format
(code examples / written tutorial / video training) were given.
