Trame \cite{trame} is a Python framework that enables the creation of reactive
web applications without requiring prior web development knowledge. The trame
and trame-slicer ecosystems, their architecture, and their use cases are
presented in \cref{sec:context}.

This internship took place from April 2026 to August 2026 at Kitware in
Villeurbanne, the company that develops and maintains trame. It pursued two
main objectives.

The first objective was to gain a comprehensive understanding of the
development of the trame framework, which is maintained by a team of around
15 part-time developers. This included exploring its documentation,
maintenance processes, design choices, ecosystem, communication practices, and
user support. These aspects are discussed throughout this report.

The second objective was to actively participate in the development of the
framework by contributing to the project and acquiring skills related to the
tools, modules, and practices used in the development of \citev{trame},
trame-slicer, and their ecosystem. These include Continuous Integration (CI)
and Continuous Deployment (CD), the use of new programming languages, User
Experience (UX) and User Interface (UI) design, agile methodologies, Test
Driven Development (TDD), and software design patterns.

Several tasks were identified and carried out during the internship. They can
be grouped into the following categories:

\begin{itemize}

\item Providing feedback on trame resources

\item Maintenance and support work

\item Developing a trame widget for intuitive tool selection (Radial Menu)

\item Improving trame-slicer usability on mobile and tablet devices

\end{itemize}

An overview of all completed tasks is provided in \cref{fig:timeline}.
"Radial Menu" (resp. "Trame Slicer") includes all working days during which a
meeting related to the project was held or a commit was made to the
\citev{trame-radial-menu} (resp. \refrepo{trame-slicer}) repository. "Tech"
corresponds to technical presentations, while "Point" denotes internship
follow-up meetings.

\insertfigure{assets/images/timeline}{width=\textwidth}{Timeline of all
meetings and repository contributions}{fig:timeline}
