This document is aiming at describing the work accomplished during the last
internship of the double degree program between ENS Lyon and Centrale Lyon.

It took place in Kitware Europe between March 2026 and August 2026, Kitware is a
company that works on medical and scientific visualization, and computer vision,
contributing to open-source software and providing custom software development,
training, consulting, and technical support services related to its
technologies.

The internship was a software development internship, with most of its
activities centered around the trame \cite{trame} framework, its main goal was
to learn the collaborative development practices through development,
maintenance, documentation, design, bug investigation and fixing.

The trame examples and tutorial were updated to match the last version, a trame
UI widget for radial menus was developped and published to PyPI and conda-forge,
touch gestures were added and bugs were fixed in Slicer \cite{Slicer}, VTK
\cite{VTK} and vtk-js \cite{vtk-js} during the development of a mobile web
application.  An automaticaly catalog of trame widgets and applications,
updating through the GitHub Actions, was also added to the trame documentation.

All contributions can be found in the appendix \ref{appendix:contributions}.